@import '../../info';

.BookMemoWrapper {
    width: 95%;
    // min-height: 30%;
    height: fit-content;
    background-color: $yellow;
    border-radius: 1.5em;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .innerMemoWrapper {
        width: 95%;
        height: fit-content;
        border-radius: .5em;
        padding: 3% 0;
        background-color: $white;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;

        > textarea {
            width: 95%;
            columns: 50;
            resize: none;
            border: none;
        }
    }

    > .labelsAndButtons {
        width: 95%;
        text-align: right;

        > label {
            float: left;
            background-color: $green;
            color: white;
            width: fit-content;
            padding: .5% 1%;
            border-radius: 1em;
        }

        > button {
            color: white;
            background-color: $blue;
            width: 10%;
            height: 3em;
            padding: .5%;
            border: none;
            border-radius: .5em;
            &.deleteButton {
                background-color: $red;
            }
            &.saveButton {
                display: none;
            }
        }

        label + label, button + button {
            margin-left: 3%;
        }
        button + button {
            margin-left: 3%;
        }
    }

    .innerMemoWrapper + .labelsAndButtons {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 414px) {
    .BookMemoWrapper {
        position: relative;
        border-radius: .5em;

        .labelsAndButtons {
            font-size: 70%;

            .bookName {
                width: 100%;
                padding: 2%;
                text-align: center;
            }
            .pageNum, .rowNum {
                display: none;
            }
            > button {
                display: none;
                width: 15%;
                padding: 2%;
                height: fit-content;
                position: absolute;
                right: 0%;
                transform: translateX(110%);

                &.modifyButton {
                    bottom: 50%;
                }
                &.deleteButton {
                    top: 60%;
                }
                &.saveButton {
                    top: 50%;
                    transform: translateX(110%) translateY(-50%);
                }
            }
        }
    }
}