@import '../../info';

.BookTitle {
    width: 100%;
    height: fit-content;
    padding: .75em;
    background-color: rgb(241, 196, 15);
    color: black;
    font-size: 200%;
    font-weight: 900%;
    text-align: center;
}