@import './info';

#bigWrapper {
  width: 100%;
  min-height: 100vh;
  padding: 2.5% 5% 2% 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  & .container {
    min-height: 90vh;
    height: fit-content;
    background-color: $backgroundColor;
    padding: 1%;
  }

}