@import '../../info';

.AllMemoWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.bookMode {
        width: 40%;
    }

    h1 + div {
        margin-top: 5%;
    }

    > .memoWrapper {
        width: 95%;
        // min-height: 72%;
        height: fit-content;
        margin-top: 3%;
        padding: 3% 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .BookMemoWrapper + .BookMemoWrapper, .NewBookMemoWrapper + .BookMemoWrapper {
            margin-top: 3%;
        }

        > .newMemoInput {
            display: none;
        }
    }

    > nav {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3%;
        height: fit-content;
        padding: 1.5% 0;
        text-align: center;
        background-color: $blue;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        display: flex;
        flex-direction: column;

        * + * {
            margin-top: 30%;
        }

        > .addMemo {
            padding: 0% 0%;
            color: $white;
            background-color: transparent;
            border: none;
            font-size: 300%;
            font-weight: 900;
        }

        & .goToHome {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 414px) {
    .AllMemoWrapper {
        height: 100%;
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translateX(-50%);

        &.disabled {
            display: none;
        }

        > nav {
            display: none;
        }
    }
}